.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  background: #0f2027;
  padding: 20px 10px;
  color: white;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding-top: 170px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo h4 {
  font-weight: 700;
  letter-spacing: 2px;
}

.nav a {
  display: block;
  color: #ccc;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: 0.3s;
  font-size: 20px;
}

.nav a:hover {
  background: #00c6ff;
  color: #fff;
  transform: translateX(5px);
}

.nav a.active {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: white;
}

.navbar-nav{
    width: 100%;
    padding-left: 30px;
}

/* Mobile spacing fix */
@media (max-width: 991px) {
  body {
    padding-top: 60px;
  }

}
