body {
  margin: 0;
  /* overflow: hidden; */
  background: #0f2027; /* dark background */
}

.rain {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.drop {
  position: absolute;
  width: 2px;
  height: 20px;
  background: linear-gradient(transparent, #fff);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}
